/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.gameContainer {
  display: flex;
  justify-content: center;
  width: 65vw;
  margin-left: 15vw;
  margin-top: 5vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.winLoseText {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.winLoseText h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0em 0.5em;
}

.userInput {
  margin: 1em 0em 0em 3em;
}

.userInput mat-form-field {
  width: 30%;
}

.rulesDialog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  scale: 1.3;
}

.infoText {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rollAction {
  margin-bottom: 1em;
}

.rollAction button:hover {
  transition: 1s ease-in-out;

  rotate: 1.5turn;
}
